/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

ion-content {
    //--background: #e0a96c;
    --background: #f4c291;
    --ion-text-color: black;
}

.add-button-icon {
    color: white;
    font-size: 24px;
    width: 24px;
}